appdirs==1.4.4
asciimatics==1.11.0
autopep8==1.5.4
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
custom-inherit==2.3.0
distlib==0.3.1
enum34==1.1.10
filelock==3.0.12
future==0.18.2
idna==2.10
importlib-metadata==2.1.0
importlib-resources==3.2.1
joblib==0.14.1
language-tool-python==2.4.6
markovchain==0.2.5
nltk==3.5
numpy==1.18.4
opensimplex==0.2
Pillow==7.1.0
pipenv==2020.11.4
pkg-resources==0.0.0
pycodestyle==2.6.0
pyfiglet==0.8.post1
PyYAML==5.3.1
regex==2020.10.28
requests==2.25.0
six==1.15.0
toml==0.10.2
tqdm==4.51.0
urllib3==1.26.2
virtualenv==20.1.0
virtualenv-clone==0.5.4
wcwidth==0.2.5
zipp==1.2.0
