appdirs==1.4.4
asciimatics==1.11.0
autopep8==1.5.4
click==7.1.2
custom-inherit==2.3.0
enum34==1.1.10
future==0.18.2
joblib==0.14.1
markovchain==0.2.5
nltk==3.5
certifi==2020.6.20
distlib==0.3.1
filelock==3.0.12
future==0.18.2
numpy==1.19.4
opensimplex==0.2
Pillow==8.0.1
pipenv==2020.11.4
pycodestyle==2.6.0
pyfiglet==0.8.post1
regex==2020.10.28
toml==0.10.2
tqdm==4.51.0
PyYAML==5.3.1
six==1.15.0
toml==0.10.2
virtualenv==20.1.0
virtualenv-clone==0.5.4
wcwidth==0.2.5
